body {
  background-color: #f9f9fa
}

.padding {
  padding: 3rem !important
}

.user-card-full {
  overflow: hidden
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  margin-bottom: 30px
}

.m-r-0 {
  margin-right: 0px
}

.m-l-0 {
  margin-left: 0px
}

.user-card-full .user-profile {
  border-radius: 5px 0 0 5px
}

.bg-c-lite-green {
  background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
  background: linear-gradient(to right, #ee5a6f, #f29263)
}

.user-profile {
  padding: 20px 0
}

.card-block {
  padding: 1.25rem
}

.m-b-25 {
  margin-bottom: 25px
}

.img-radius {
  border-radius: 5px
}

h6 {
  font-size: 14px
}

.card .card-block p {
  line-height: 25px
}

@media only screen and (min-width: 1400px) {
  p {
      font-size: 14px
  }
}

.card-block {
  padding: 1.25rem
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
  margin-bottom: 20px
}

.p-b-5 {
  padding-bottom: 5px !important
}

.card .card-block p {
  line-height: 25px
}

.m-b-10 {
  margin-bottom: 10px
}

.text-muted {
  color: #919aa3 !important
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
  font-weight: 600
}

.m-b-20 {
  margin-bottom: 20px
}

.m-t-40 {
  margin-top: 20px
}

.p-b-5 {
  padding-bottom: 5px !important
}

.m-b-10 {
  margin-bottom: 10px
}

.m-t-40 {
  margin-top: 20px
}

.user-card-full .social-link li {
  display: inline-block
}

.user-card-full .social-link li a {
  font-size: 20px;
  margin: 0 10px 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out
}
/*This is admindashboard CSS*/
/*------------------------------------------------------------------------*/
body{
  margin-top:20px;
  background:#eee;
}

.decor-default {
  background-color: #ffffff;
}
.contacts-labels .title {
  font-size: 16px;
  line-height: 112px;
  background: url("http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/icon-42.png") 0 50% no-repeat;
  padding: 0 0 0 32px;
  color: #333333;
  overflow: hidden;
}
.contacts-labels .title span {
  float: right;
}
.contacts-labels .settings {
  min-width: 70px;
  max-width: 70px;
  line-height: 38px;
  float: left;
  margin-right: 10px;
}
.btn-default {
  background-color: #ffffff;
  border: 1px solid #d8d8d8 !important;
  color: #333333;
  line-height: 46px;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.contacts-search {
  width: 100%;
  line-height: 38px;
  color: #333333;
  padding: 0 8px;
  border: 1px solid #ccc;
  border-right: 0;
}
input {
  -webkit-appearance: none;
  border-radius: 0;
}
.contacts-search + .input-group-addon {
  background: #fff;
  border-radius: 0;
}
.input-group-addon:last-child {
  border-left: 0;
}
.contacts-search + .input-group-addon button {
  background: transparent;
}
button {
  border: none;
  outline: none;
}
.contacts-labels .list .head {
  font-size: 20px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
  background: #39bee8;
  color: #ffffff;
  margin: 60px 0 40px;
}
.contacts-labels .list .unit {
  overflow: hidden;
  padding: 0 0 20px;
}
.contacts-labels .list .unit .lab-success {
  background: #46be8a;
}
.contacts-labels .list .unit .lab-primary {
  background: #7266ba;
}
.contacts-labels .list .unit .lab-danger {
  background: #ff69b4;
}
.contacts-labels .list .unit .lab-warning {
  background: #f2a654;
}
.btn-primary {
  background-color: #7266ba;
}
.contacts-labels .list .unit .lab {
  font-size: 16px;
  line-height: 32px;
  float: left;
  width: 112px;
  padding: 0 0 0 18px;
  color: #ffffff;
}
.contacts-labels .list .unit span {
  display: block;
  float: right;
  font-size: 16px;
  line-height: 32px;
  font-weight: bold;
}
.btn {
  min-width: 180px;
  font-size: 26px;
  line-height: 48px;
  font-weight: normal;
  color: #ffffff;
  padding: 0 24px;
  -webkit-transition: background false false, 0.25s false false, cubic-bezier(0.4, 1, 0.3, 1) false false;
  -moz-transition: background false false false, 0.25s false false false, cubic-bezier(0.4, 1, 0.3, 1) false false false;
  -o-transition: background false false false, 0.25s false false false, cubic-bezier(0.4, 1, 0.3, 1) false false false;
  transition: background, 0.25s, cubic-bezier(0.4, 1, 0.3, 1);
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
}
.contacts-list {
  border-left: 1px solid #d8d8d8;
  margin: -20px 0 40px;
}
.contacts-list .title {
  padding: 0 0 0 20px;
  color: #7266ba;
  line-height: 124px;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.contacts-list-search {
  width: 100%;
  line-height: 60px;
  background: #585b9c;
  font-size: 24px;
  color: #fff;
  padding: 0 20px;
}
input {
  -webkit-appearance: none;
  border-radius: 0;
}
input {
  padding: 0;
  border: none;
  outline: none;
}
.contacts-list-search + .input-group-addon {
  background: #585b9c;
  border-radius: 0;
  border: 0;
}
.input-group-addon:last-child {
  border-left: 0;
}
.contacts-list-search + .input-group-addon button {
  background: transparent;
}

/************ Contact list*********************/
.contacts-list .unit.head {
  font-size: 20px;
  color: #7266ba;
  padding-bottom: 10px;
  overflow: visible;
}
.contacts-list .unit {
  padding: 20px 0;
  margin-top: -7px;
  border-bottom: 1px solid #d8d8d8;
  display: inline-block;
  width: 100%;
  font-size: 16px;
  line-height: 40px;
  color: #333333;
  -webkit-transition: background false false, 0.3s false false;
  -moz-transition: background false false false, 0.3s false false false;
  -o-transition: background false false false, 0.3s false false false;
  transition: background, 0.3s;
}
.contacts-list .unit .field {
  float: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.contacts-list .unit .name {
  width: 40%;
  padding: 0 0 0 80px;
  position: relative;
}
.contacts-list .unit .name .check {
  position: absolute;
  left: 5px;
  top: -8px;
}
.contacts-list .unit .phone {
  width: 30%;
  padding: 0 0 0 20px;
}
.contacts-list .unit .email {
  width: 30%;
  padding: 0 0 0 20px;
  overflow: visible;
}
.btn-group, .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.contacts-list .unit .email .btn {
  min-width: 38px;
  max-width: 38px;
  font-size: inherit;
  padding: 0 8px;
  line-height: 36px;
}
.btn-group > .btn:first-child {
  margin-left: 0;
}
.btn-group > .btn, .btn-group-vertical > .btn {
  position: relative;
  float: left;
}
.btn-default {
  background-color: #ffffff;
  border: 1px solid #d8d8d8 !important;
  color: #333333;
  line-height: 46px;
}
.contacts-list .icons .icon-folder {
  background: url("http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/icon-9.png") no-repeat 50% 50%;
}
.contacts-list .icons .icon-label {
  background: url("http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/icon-5.png") no-repeat 50% 50%;
}
.contacts-list .icons .icon-trash {
  background: url("http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/icon-10.png") no-repeat 50% 50%;
}
.contacts-list .icons .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 3px;
}
.contacts-list .unit .name .avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 0 16px 0 0;
  vertical-align: top;
}
.contacts-list .lab {
  font-size: 14px;
  line-height: 21px;
  float: left;
  min-width: 75px;
  padding: 0 18px 0 18px;
  color: #ffffff;
  margin-left: 60px;
}
.contacts-list .lab-warning {
  background: red;
}
.contacts-list .lab-success {
  background: #46be8a;
}
.contacts-list .lab-danger {
  background: red;
}
/*Amin Add Room css*/
/*-------------------------------------------------------------------*/


body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: re;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: red;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

